.employee_container {
    width: 90%;
    margin: 0rem auto;
    &__header {
      &__nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
      }
    }
  
    &__table {
      border: 1px solid black;
      border-radius: 5px;
    }
  }